.admins {
  padding: 40px 0;
  background-color: $color-white;

  &-wrapper {
    @include displayFlex(flex-start, flex-start, column);
    gap: 40px;

    width: 100%;
  }

  &-add {
    @include displayFlex(flex-start, flex-start);
    flex-wrap: wrap;
    gap: 15px;

    width: 100%;

    &__button {
      white-space: nowrap;
    }
  }

  &-body {
    width: 100%;
  }
}
