.admins {
  padding: 40px 0;
  background-color: $color-white;

  &-wrapper {
    @include displayFlex(flex-start, flex-start);
    gap: 40px;

    width: 100%;
  }

  &-add {
    @include displayFlex(flex-start, center, column);
    flex-wrap: wrap;
    gap: 30px;

    padding-right: 20px;

    border-radius: 5px;
    border-right: 1px solid black;

    &__button {
      white-space: nowrap;
    }
  }

  &-body {
    width: 100%;
  }
}
