.basket {
  padding: 40px 0;
  background-color: #f7f7f7;

  &-wrapper {
    @include displayFlex(flex-start, flex-start, column);
    gap: 50px;

    width: 100%;
  }

  &-title {
    @include font($size-title_card-product, 800);
    color: $color-dark_grey;
  }

  &-body {
    @include displayFlex(flex-start, space-between);
    gap: 30px;

    width: 100%;
  }

  &-list {
    @include displayFlex(flex-start, flex-start, column);
    gap: 20px;

    max-width: 900px;
    width: 100%;
  }

  &-error {
    @include font(20px, 400);
    color: $color-dark_grey;

    &-link {
      text-decoration: underline;
      color: blue;
    }
  }

  &-message {
    @include font(20px, 400);
    color: $color-dark_grey;
  }

  &-item {
    @include displayFlex(flex-start, flex-start);

    width: 100%;

    border-radius: 6px;

    background-color: $color-white;

    &-content {
      padding: 20px;
      width: 100%;

      @include displayFlex(flex-start, space-between);
      gap: 20px;
    }

    &__img {
      object-fit: contain;

      &-wrap {
        width: 160px;
        height: 160px;
      }
    }

    &-title {
      @include font(18px, 400);
      color: $color-dark_grey;

      max-width: 480px;

      width: 100%;
    }

    &-button {
      @include displayFlex(center, center);
      gap: 10px;

      &_delete,
      &_add {
        width: 28px;
        height: 28px;

        @include displayFlex(center, center);
        @include font(16px, 600, "Inter", 1px);
        color: #384255;

        border: 1px solid $color-text_light;
        border-radius: 50px;
      }

      &_total {
        color: $color-discount;
        @include font(18px, 400);
      }
    }

    &-cost {
      max-width: 100px;
      width: 100%;

      text-align: right;
    }

    &-price {
      @include font(17px, 700);
      color: $color-dark_grey;
    }
  }

  &-aside {
    width: 500px;
    padding: 30px;

    background-color: #ffffff;
    border-radius: 6px;

    @include displayFlex(flex-start, flex-start, column);
    gap: 30px;

    &-title {
      @include font(28px, 700);
      color: $color-dark_grey;
    }

    &-wrap {
      @include displayFlex(flex-start, space-between);
      gap: 30px;

      width: 100%;
    }

    &-text {
      @include font(15px, 400);
      color: $color-dark_grey;
    }

    &-price {
      @include font(18px, 700);
      color: $color-dark_grey;
    }

    &-total {
      &__text {
        @include font(15px, 700);
        color: $color-dark_grey;
      }

      &__price {
        @include font(40px, 700);
        color: $color-dark_grey;
      }
    }
  }
}
