.catalog {
  &-overlap {
    position: fixed;
    inset: 0;

    z-index: 500;

    background: rgba(35, 31, 32, 0.75);
    display: none;
    visibility: hidden;

    // display: block;
    // visibility: visible;
  }
  &-main {
    position: absolute;
    left: 0;
    top: 206px;

    z-index: 800;

    overflow: hidden;

    width: 100%;
    background-color: #fff;

    display: none;

    padding: 20px 0;

    border-top: 1px solid rgba(35, 31, 32, 0.05);
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);

    visibility: hidden;
    transition: transform 0.25s 0.15s ease;

    // display: block;
    // visibility: visible;
  }

  &-navigation {
    position: relative;

    width: 100%;

    display: -ms-flexbox;
    @include displayFlex(flex-start, flex-start, row);
    gap: 20px;

    &-list {
      @include displayFlex(flex-start, flex-start, column);

      &-wrap {
        max-width: 330px;
        width: 100%;
      }
    }

    &-drop {
      width: 100%;

      &__list {
        @include displayFlex(flex-start, flex-start, column);
        gap: 15px;
      }

      &__item {
        &-name {
          @include font(16px, 400);
          color: $color-black;
        }
      }

      &-wrap {
        position: relative;
      }
    }

    &__item {
      max-width: 330px;
      width: 100%;
      height: 64px;

      @include displayFlex(center, flex-start);
      gap: 15px;

      &:hover {
        background-color: #f7f7f7;
      }

      &.is_active {
        background-color: #f7f7f7;
      }

      &-img {
        max-width: 100%;
        max-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      &-name {
        @include font($size-category, 600);

        color: $color-dark_grey;
      }
    }
  }
}
