/* Text Styles */
$size-title: 50px;
$size-title_card-product: 38px;
// $size-: 34px;
$size-title_section: 30px;
$size-price_card-product: 30px;
// $size-: 26px;
$size-title_sub: 24px;
$size-title_card: 24px;
// $size-: 22px;
$size-title_card-category: 20px;
// $size-: 18px;
$size-price: 17px;
$size-category: 16px;
$size-main: 14px;
$size-button: 14px;
$size-category_mod: 13px;
$size-card_info: 12px;
$size-label: 11px;
$size-header_count: 10px;

/* Color Styles */
$color-white: #fff;
$color-black: #000;
$color-dark_grey: #1a1a25;
$color-discount: #858FA4;
$color-red: #f53b49;
$color-bg: #f6f6f6;
$color-bg_main: #F7F7F7;
$color-hover: #e32a38;
$color-text_light: #909cb5;
$color-text_dark: #384255;
